.contact-us-section{
    background-image: url('../../images/contactusbg.png');
    background-repeat: no-repeat;
    opacity: 0.9;
    background-color: #453D72;
}

.contact-form{
    padding: 70px;
    background-color: #524a78be;
    border-radius: 25px;
}

.submit-button{
    background-color: #957b92;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 20px;
    font-weight: 700;
}

.form-control{
    border-radius: 15px;
}

.message-box{
    height: 80px;
    width: 100%;
}
